#player {
  height:165;
  width:500;
  background-color:darkgrey;
}

.playWindowButton{
  float: left;
  width: 40px;
}

.playingInfo {
  height:50px;
}

.playProgress {
  float:left;
  width: 500px;
}

.playProgress input {
  display:none;
}

.volume {
  float:left;
}

.volume input {
  display:none;
}
