:ruby
  haml_concat stylesheet_include(
    "lib/slider/css/bluecurve/bluecurve",
    "view/css/common"
  )

:javascript
  Twump = {
    Model: {}, View: {}, Controller: {}
  }

:ruby
  haml_concat javascript_include(
    "lib/air/AIRIntrospector", 
    "lib/air/AIRAliases",

    "lib/prototype/prototype-1.5.1.2",
    "lib/trimpath/trimpath-template-1.0.38",
    "lib/slider/js/range",
    "lib/slider/js/timer",
    "lib/slider/js/slider",
    "lib/jshash-2.2/md5",
    "lib/tooltip-v0.1",
    
    "lib/twump/extensions",
    "lib/twump/utils",
    "lib/twump/api",
    "lib/twump/storage",
    "lib/twump/player",
    "lib/twump/last_fm",
    "lib/twump/repository",
    "lib/twump/slider",
    
    "view/common",
    "view/large_list",
    "view/page_scroller",
    "view/songlist",
    
    "controller/common"
  )

