=render_partial "common_includes"

:erb
  <%=
    stylesheet_include(
      "view/css/player_window",
      "view/css/playlist"
    )
  %>
  
:erb
  <%= 
    javascript_include(
      "model/songlist",
      "model/playlist",
      "model/file",
      
      "controller/updater",
      "controller/application",
      "controller/player_mixin",
      "controller/playlist_mixin",
      "controller/disk_operations_mixin",
      "controller/last_fm_mixin",
      "controller/child_windows_mixin",
      "controller/player_controller",
     
      "view/main_window", 
      "view/player_window",
      "view/playlist_window"
    )
  %>
