:erb
  <%=
    stylesheet_include(
      "lib/slider/css/bluecurve/bluecurve",
      
      "view/css/common",
      "view/css/player_window",
      "view/css/playlist"
    )
  %>
  
=render_partial "common_includes"

:erb
  <%= 
    javascript_include(
      "model/playlist",
      "model/file",
      
      "controller/updater",
      "controller/player_mixin",
      "controller/playlist_mixin",
      "controller/disk_operations_mixin",
      "controller/last_fm_mixin",
      "controller/player_controller",
      
      "view/player_window",
      "view/playlist_window"
    )
  %>

:javascript
  function init(){
    Twump.Controller.Updater.update();
    
    Twump.Application = Class.create();
    Twump.Application.prototype = {
      initialize: function(){
        this.playerWindow = new Twump.View.PlayerWindow();
        this.playlistWindow = new Twump.View.PlaylistWindow();
        this.logger = Twump.Api.Logger;
        
        this.controller = new Twump.Controller.Player({
        playerWindow: this.playerWindow, playlistWindow: this.playlistWindow,
        logger: this.logger
        });
      }
    };
    
    Twump.application = new Twump.Application();
  }
