%html
  %head
    %title
    
    =render_partial "common_includes"
    
    :ruby
      haml_concat stylesheet_include("view/css/editor")
    
    %link{ :href => "css/editor.css", :rel => "stylesheet", :type => "text/css" }/
    
    :ruby
      haml_concat javascript_include(
        "controller/common",
        "controller/editor_controller",
        "view/common",
        "view/editor_window"
      )
    
   
    :javascript
      function init(){
        controller = new Twump.Controller.Editor({
          editorWindow: new Twump.View.EditorWindow(),
          playerController: options.playerController,
          playlist: options.playlist
        })
      }
      
  %body{:onload => "init();", :style => "overflow:hidden;-webkit-user-select:none;"}
    =render_partial('title_bar')
  
    #editor
      %input#filter{ :type => "text" }/
      
      %table{:cellpadding => 0, :cellspacing => 0, :border => 0}
        %tr
          %td.songlistColumn
            #songlist
          %td.pageProgressColumn
            #pageProgress.pageProgress
      =render_partial('resize')

    #songlistContextMenu{ :style => "display:none;" }
      #remove
        remove
      #jumpTo
        jump to
        
    =render_partial('tooltip')
