%html
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "Content-type" }/
    %title
    
    =render_partial('player_window_includes')
  
  :ruby
    def play_window_button(id, content)
      <<-eos
        <div class='playWindowButton' id='#{id}'>#{content}</div>
      eos
    end
    
  :javascript

    function init(){
      if (Twump.Controller.Updater.update()) return;
      Twump.application = new Twump.Application();
    }
  
  %body{:ondragover => "event.preventDefault()", :onload => "init();",
    :ondragenter => "event.preventDefault()", 
    :style => "overflow:hidden;-webkit-user-select:none; font-family:verdana;font-size:14px;"}
  
    =render_partial('title_bar')
    
    #player
      .playingInfo
        %table{:cellpadding => 0, :cellspacing => 0, :border => 0}
          %tr
            %td
              #remaining
            %td
              #playing
      
      .buttonList.playProgressContainer
        #playProgress.playProgress
        .clear
        
      .buttonList
        .buttonGroup
          =play_window_button('openFolder', 'load folder')
          =play_window_button('loadList', 'load list')
          =play_window_button('saveList', 'save list')
        
        .rightButtonGroup
          =play_window_button('options', 'options')
        .clear
        
      .buttonList
        =play_window_button('previous', 'previous')
        =play_window_button('play', 'play')
        =play_window_button('pause', 'pause')
        =play_window_button('stop', 'stop')
        =play_window_button('next', 'next')
        .volumeContainer.rightButtonGroup
          #volume.volume
        .clear
        
      .buttonList
        .buttonGroup
          =play_window_button('shuffle', 'shuffle')
          =play_window_button('shuffleRemaining', 'shuffle remaining')
          
        .rightButtonGroup
          =play_window_button('editor', 'search')
          =play_window_button('delete', 'delete')
          =play_window_button('clear', 'clear list')
        .clear
    .clear
        
    %table{:cellpadding => 0, :cellspacing => 0, :border => 0}
      %tr
        %td
          #songlist.songlist
        %td
          #pageProgress.pageProgress

    #statusBar.statusBar
      .buttonList
        #lastFmStatus{:style => "float:left"}
        .rightButtonGroup
          =play_window_button('repeat', 'repeat')
    .clear

    =render_partial('resize')
    =render_partial('tooltip')
