%html
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "Content-type" }/
    %title
    
    %link{ :href => "../lib/slider/css/bluecurve/bluecurve.css", :rel => "StyleSheet", :type => "text/css" }/
    %link{ :href => "css/common.css", :rel => "stylesheet", :type => "text/css" }/
    %link{ :href => "css/player_window.css", :rel => "stylesheet", :type => "text/css" }/
    %link{ :href => "css/playlist.css", :rel => "stylesheet", :type => "text/css" }/
    
    =javascript_include("../lib/air/AIRIntrospector.js", "../lib/air/AIRAliases.js")
    
    %script{ :src => "../lib/prototype/prototype-1.5.1.2.js", :type => "text/javascript" }
    %script{ :src => "../lib/trimpath/trimpath-template-1.0.38.js", :type => "text/javascript" }
    %script{ :src => "../lib/slider/js/range.js", :type => "text/javascript" }
    %script{ :src => "../lib/slider/js/timer.js", :type => "text/javascript" }
    %script{ :src => "../lib/slider/js/slider.js", :type => "text/javascript" }
    %script{ :src => "../lib/jshash-2.2/md5.js", :type => "text/javascript" }
    %script{ :src => "../lib/tooltip-v0.1.js", :type => "text/javascript" }
    %script{ :src => "../lib/twump/base.js", :type => "text/javascript" }
    %script{ :src => "../lib/twump/extensions.js", :type => "text/javascript" }
    %script{ :src => "../lib/twump/utils.js", :type => "text/javascript" }
    %script{ :src => "../lib/twump/api.js", :type => "text/javascript" }
    %script{ :src => "../lib/twump/storage.js", :type => "text/javascript" }
    %script{ :src => "../lib/twump/player.js", :type => "text/javascript" }
    %script{ :src => "../lib/twump/last_fm.js", :type => "text/javascript" }
    %script{ :src => "../lib/twump/list.js", :type => "text/javascript" }
    %script{ :src => "../lib/twump/repository.js", :type => "text/javascript" }
    %script
      Twump.Model = {};
      Twump.View = {};
      Twump.Controller = {};
    %script{ :src => "../model/playlist.js", :type => "text/javascript" }
    %script{ :src => "../model/file.js", :type => "text/javascript" }
    %script{ :src => "../controller/common.js", :type => "text/javascript" }
    %script{ :src => "../controller/updater.js", :type => "text/javascript" }
    %script{ :src => "../controller/player_mixin.js", :type => "text/javascript" }
    %script{ :src => "../controller/playlist_mixin.js", :type => "text/javascript" }
    %script{ :src => "../controller/disk_operations_mixin.js", :type => "text/javascript" }
    %script{ :src => "../controller/last_fm_mixin.js", :type => "text/javascript" }
    %script{ :src => "../controller/player_controller.js", :type => "text/javascript" }
    %script{ :src => "../view/common.js", :type => "text/javascript" }
    %script{ :src => "../view/player_window.js", :type => "text/javascript" }
    %script{ :src => "../view/playlist_window.js", :type => "text/javascript" }

    :javascript
      function init(){
        Twump.Controller.Updater.update();
        
        Twump.Application = Class.create();
        Twump.Application.prototype = {
          initialize: function(){
            this.playerWindow = new Twump.View.PlayerWindow();
            this.playlistWindow = new Twump.View.PlaylistWindow();
            this.logger = Twump.Api.Logger;
            
            this.controller = new Twump.Controller.Player({
            playerWindow: this.playerWindow, playlistWindow: this.playlistWindow,
            logger: this.logger
            });
          }
        };
        
        Twump.application = new Twump.Application();
      }
  %body{ :ondragover => "event.preventDefault()", :onload => "init();", :ondragenter => "event.preventDefault()", :style => "overflow:hidden;-webkit-user-select:none;" }
    #player
      .playingInfo
        #playing
        #playlistPos
        #progress
      #playProgress.playProgress{ :tabindex => "1" }
        %input#playProgressInput/
      %br/
      %div
        #previous.playWindowButton
          |<
        #play.playWindowButton
          >
        #pause.playWindowButton
          ||
        #stop.playWindowButton
          O
        #next.playWindowButton
          >|
        .playWindowButton
        #volume.volume{ :tabindex => "1" }
          %input#volumeInput/
      %br/
      %br/
      %div
        #openFolder.playWindowButton
          Ldf
        #addFolder.playWindowButton
          Ld+
        #loadList.playWindowButton
          LdL
        #saveList.playWindowButton
          Sv
        #shuffle.playWindowButton
          Sh
        #shuffleRemaining.playWindowButton
          Sh+
        #delete.playWindowButton
          Rm
        #clear.playWindowButton
          Cl
        #editor.playWindowButton
          Ed
    #playlist.playlist
    #playListContextMenu{ :style => "display:none" }
      #copyPathToClipboard
        copy full path to clipboard
      #deleteContext
        remove
    #tooltip{ :style => "display:none; max-width:300px; background-color: lightYellow" }
