%html
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "Content-type" }/
    %title
    
    =render_partial('player_window_includes')
  
  :erb
    <%
      def play_window_button(id, content)
        "<div class='playWindowButton' id='#{id}'>#{content}</div>"
      end
    %>  
  
  %body{ :ondragover => "event.preventDefault()", :onload => "init();", :ondragenter => "event.preventDefault()", :style => "overflow:hidden;-webkit-user-select:none;" }
    #player
      .playingInfo
        #playing
        #playlistPos
        #progress
        
      #playProgress.playProgress
        %input#playProgressInput/
      %br/
      %div
        =play_window_button('previous', '|<')
        =play_window_button('play', '>')
        =play_window_button('pause', '||')
        =play_window_button('stop', 'O')
        =play_window_button('next', '>|')
        
        #volume.volume
          %input#volumeInput/
      %br/
      %br/
      %div
        =play_window_button('openFolder', 'Ldf')
        =play_window_button('addFolder', 'Ld+')
        =play_window_button('loadList', 'LdL')
        =play_window_button('saveList', 'Sv')
        =play_window_button('shuffle', 'Sh')
        =play_window_button('shuffleRemaining', 'Sh+')
        =play_window_button('delete', 'Rm')
        =play_window_button('clear', 'Cl')
        =play_window_button('editor', 'Ed')
        
    #playlist.playlist
    #playListContextMenu{ :style => "display:none" }
      #copyPathToClipboard
        copy full path to clipboard
      #deleteContext
        remove

    #tooltip{ :style => "display:none; max-width:300px; background-color: lightYellow" }
