%html
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "Content-type" }/
    %title
    =render_partial('player_window_includes')
    
    
  %body{ :ondragover => "event.preventDefault()", :onload => "init();", :ondragenter => "event.preventDefault()", :style => "overflow:hidden;-webkit-user-select:none;" }
    #player
      .playingInfo
        #playing
        #playlistPos
        #progress
      #playProgress.playProgress{ :tabindex => "1" }
        %input#playProgressInput/
      %br/
      %div
        #previous.playWindowButton
          |<
        #play.playWindowButton
          >
        #pause.playWindowButton
          ||
        #stop.playWindowButton
          O
        #next.playWindowButton
          >|
        .playWindowButton
        #volume.volume{ :tabindex => "1" }
          %input#volumeInput/
      %br/
      %br/
      %div
        #openFolder.playWindowButton
          Ldf
        #addFolder.playWindowButton
          Ld+
        #loadList.playWindowButton
          LdL
        #saveList.playWindowButton
          Sv
        #shuffle.playWindowButton
          Sh
        #shuffleRemaining.playWindowButton
          Sh+
        #delete.playWindowButton
          Rm
        #clear.playWindowButton
          Cl
        #editor.playWindowButton
          Ed
    #playlist.playlist
    #playListContextMenu{ :style => "display:none" }
      #copyPathToClipboard
        copy full path to clipboard
      #deleteContext
        remove
    #tooltip{ :style => "display:none; max-width:300px; background-color: lightYellow" }
