.header td{
  background-color:lightGrey
}

table {
  font-size:12px;
}

.tooltip{
  background-color: lightYellow;
  font-size:11px;
}

.clear {
  clear:both;
  height:0px;
}

.resize {
  height:10px;
  background-color:grey;
  cursor:move;
}

#caption {
  cursor:move;
}

#close {
  cursor:pointer;
}

#close:hover {
  background-color:white;
}

.contextMenu {
  background-color: cyan;
  float: left;
}