#player {
  height:157px;
  width:500;
  background-color:darkgrey;
}

.buttonList {
  padding-left:20px;
  width: 500px;
}

.buttonGroup {
  padding-right:20px;
  float:left;
}

.playWindowButton{
  float:left;
  cursor:pointer;
  padding:5px;
  padding-left:10px;
  padding-right:10px;
}
.playWindowButton:hover{background-color:white}

.playingInfo {
  height:50px;
}

.playProgress {
  width: 500px;
  height:10px;
  background-color:white;
  float:left;
}

.volumeContainer {
  float:left;
  padding-top:10px;
  padding-left:60px;
}

.volume {
  height:8px;
  width:100px;
  background-color:white;
  vertical-align:middle;
}

.volume input {
  display:none;
}
