#playlist {
  height:335;
  background-color:lightgrey;
  overflow:auto;
}

.playlist .selected {
  background-color: white;
}

.playlist .playing {
  color: blue;
}

.title {
  width:410px;
  overflow:hidden;
  margin-left:5px;
  margin-right:5px;
}

