#player {
  height:147;
  width:500;
  background-color:darkgrey;
}

.playWindowButton{
  float:left;
  cursor:pointer;
  padding:5px;
}
.playWindowButton:hover{background-color:white}

.playingInfo {
  height:50px;
}

.playProgress {
  width: 500px;
  height:10px;
  background-color:white;
  float:left;
}

.volume {
  float:left;
  height:10px;
  width:100px;
  background-color:white;
}

.volume input {
  display:none;
}
