#player {
  width:500;
  background-color:darkgrey;
}

.buttonList {
  padding-left:10px;
  width: 500px;
}

.buttonGroup {
  padding-right:20px;
  float:left;
}

.rightButtonGroup {
  float:right;
  padding-right:30px;
}

.button{
  float:left;
  cursor:pointer;
}

.playerControls .button {
  padding:2px 10px;
}

.button:hover{background-color:white}

.button.toggled {
  font-weight: bold;
}

.playingInfo {
  float:left;
  padding-top:5px;
  height:20px;
  width:470px;
  overflow:hidden;
}

#remaining {
  padding-right:10px;
  padding-left:20px;
}

#playing {
  width:100%;
  overflow:hidden;
}

.playProgress {
  width: 460px;
  height:10px;
  background-color:white;
  float:left;
}

.playProgressContainer {
  padding-left:20px;
  padding-bottom:10px;
}

.volumeContainer {
  padding-top:5px;
  width:100px;
}

.volume {
  height:8px;
  width:100%;
  background-color:white;
  vertical-align:middle;
}

.volume input {
  display:none;
}

.statusBar{
  float:left;
}