.songlist {
  height:335;
  width:490px;
  background-color:lightGrey;
  overflow:hidden;
}

.songlist .dropBefore td {
  border-top: 1px solid green;
}

.songlist .dropAfter td {
  border-bottom: 1px solid green;
}

.songlist .selected {
  background-color: white;
}

.songlist .playing {
  color: blue;
}

.index {
  width:40px;
}

.title {
  width:395px;
  overflow:hidden;
  margin-left:5px;
  margin-right:5px;
}

.pageProgress {
  height: 100%;
  width: 10px;
}
