#player
  .playingInfo
    %table{:cellpadding => 0, :cellspacing => 0, :border => 0}
      %tr
        %td
          #remaining
        %td
          #playing
  
  .buttonList.playProgressContainer
    #playProgress.playProgress
    .clear
    
  .buttonList.playerControls
    .buttonGroup
      =play_window_button('openFolder', 'load folder')
      =play_window_button('loadList', 'load list')
      =play_window_button('saveList', 'save list')
    
    .rightButtonGroup
      =play_window_button('options', 'options')
    .clear
    
  .buttonList.playerControls
    =play_window_button('previous', 'previous')
    =play_window_button('play', 'play')
    =play_window_button('pause', 'pause')
    =play_window_button('stop', 'stop')
    =play_window_button('next', 'next')
    .volumeContainer.rightButtonGroup
      #volume.volume
    .clear
    
  .buttonList.playerControls
    .buttonGroup
      =play_window_button('shuffle', 'shuffle')
      =play_window_button('shuffleRemaining', 'shuffle rest')
      =play_window_button('showCurrent', 'show current')
      
    .rightButtonGroup
      =play_window_button('editor', 'search')
      =play_window_button('delete', 'delete')
      =play_window_button('clear', 'clear list')
    .clear
.clear