%html
  %head
    %title
    
    =render_partial "view/common/common_includes"
    
    :ruby
      haml_concat javascript_include(
        "lib/twump/last_fm",
        
        "controller/options_controller",
        "controller/options_view",
        
        "view/options/options_window"
      )
    
   
    :javascript
      function init(){
        controller = new Twump.Controller.Options({
          optionsWindow: new Twump.View.OptionsWindow(),
          playerController: options.playerController
        })
      }
      
  %body{:onload => "init();", :style => "overflow:hidden;-webkit-user-select:none;"}
    =render_partial('view/common/title_bar')
    
    last.fm
    %br/
    login
    %input{:id => "login", :type => "text"}
    %br/
        
    password
    %input{:id => "password", :type => "password"}
    
    #testLastFm.optionsButton test
    #applyLastFm.optionsButton apply
