<?xml version="1.0" encoding="UTF-8"?> 
<application xmlns="http://ns.adobe.com/air/application/1.5"> 
    <id>twump</id> 
    <version>0.0.8</version> 
    <filename>twump</filename> 
    <initialWindow> 
        <content>view/player_window.html</content> 
        <visible>true</visible> 
        <systemChrome>none</systemChrome>
        <width>500</width>
    		<height>510</height>
    </initialWindow> 
    
</application>
