=render_partial "view/common/common_includes"

:erb
  <%=
    stylesheet_include(
      "view/player/player_window",
      "view/playlist/playlist"
    )
  %>
  
:erb
  <%= 
    javascript_include(
      "model/songlist",
      "model/playlist",
      "model/song",
      
      "controller/updater",
      "controller/application",
      "controller/player_mixin",
      "controller/playlist_mixin",
      "controller/disk_operations_mixin",
      "controller/last_fm_mixin",
      "controller/child_windows_mixin",
      "controller/player_controller",
     
      "view/main/main_window", 
      "view/player/player_window",
      "view/playlist/playlist_window"
    )
  %>
