<html> 
  <head> 
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
  
    <title></title>
    
    <link type="text/css" rel="StyleSheet" href="../lib/slider/css/bluecurve/bluecurve.css" />

    <link href="css/common.css" rel="stylesheet" type="text/css">
    <link href="css/player_window.css" rel="stylesheet" type="text/css">
    <link href="css/playlist.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="../lib/air/AIRIntrospector.js"></script>      
    <script type="text/javascript" src="../lib/air/AIRAliases.js"></script> 
    
    <script type="text/javascript" src="../lib/prototype/prototype-1.5.1.2.js"></script>
    <script type="text/javascript" src="../lib/trimpath/trimpath-template-1.0.38.js"></script>
    
    <script type="text/javascript" src="../lib/slider/js/range.js"></script>
    <script type="text/javascript" src="../lib/slider/js/timer.js"></script>
    <script type="text/javascript" src="../lib/slider/js/slider.js"></script>
    
    <script type="text/javascript" src="../lib/jshash-2.2/md5.js"></script>
    
    
    <script type="text/javascript" src="../lib/twump/base.js"></script>
    <script type="text/javascript" src="../lib/twump/extensions.js"></script>
    <script type="text/javascript" src="../lib/twump/utils.js"></script>
    <script type="text/javascript" src="../lib/twump/api.js"></script>
    <script type="text/javascript" src="../lib/twump/player.js"></script>
    <script type="text/javascript" src="../lib/twump/last_fm.js"></script>
    <script type="text/javascript" src="../lib/twump/list.js"></script>
    
    <script type="text/javascript" src="../storage/binary.js"></script>

    <script>
      Twump.Model = {};
      Twump.View = {};
      Twump.Controller = {};
    </script>
  
    <script type="text/javascript" src="../model/playlist.js"></script>
    <script type="text/javascript" src="../model/file.js"></script>
    
    <script type="text/javascript" src="../controller/common.js"></script>
    
    <script type="text/javascript" src="../controller/player_mixin.js"></script>
    <script type="text/javascript" src="../controller/playlist_mixin.js"></script>
    <script type="text/javascript" src="../controller/player_controller.js"></script>
    
    <script type="text/javascript" src="../view/common.js"></script>
    <script type="text/javascript" src="../view/player_window.js"></script>
    <script type="text/javascript" src="../view/playlist_window.js"></script>

    <script type="text/javascript">
      function init(){
        Twump.Application = Class.create();
        Twump.Application.prototype = {
          initialize: function(){
            this.storage = new Twump.Storage.Binary();
            this.playerWindow = new Twump.View.PlayerWindow();
            this.playlistWindow = new Twump.View.PlaylistWindow();
            
            this.controller = new Twump.Controller.Player({
              playerWindow: this.playerWindow, playlistWindow: this.playlistWindow,
              storage: this.storage
            });
          }
        };
        
        Twump.application = new Twump.Application();
      }
    </script>
  </head> 
  
  <body onload="init();" style="overflow:hidden;-webkit-user-select:none;" 
    ondragenter="event.preventDefault()" ondragover="event.preventDefault()">
    <div id="player">
      <div class='playingInfo'>
        <div id='playing'></div>
        <div id='playlistPos'></div>
        <div id='progress'></div>
      </div>
      <div id="playProgress" class="playProgress" tabIndex="1">
      	<input id="playProgressInput"/>
      </div>
      <br/>

      <div>
        <div class='playWindowButton' id='previous'>|<</div>
        <div class='playWindowButton' id='play'>></div>
        <div class='playWindowButton' id='pause'>||</div>
        <div class='playWindowButton' id='stop'>O</div>
        <div class='playWindowButton' id='next'>>|</div>
        <div class='playWindowButton' ></div>
        
        <div id="volume" class="volume" tabIndex="1">
        	<input id="volumeInput"/>
        </div>
      </div>
      <br/>
      <br/>
      
      <div>
        <div class='playWindowButton' id='openFolder'>Ld</div>
        <div class='playWindowButton' id='addFolder'>Ld+</div>
        <div class='playWindowButton' id='shuffle'>Sh</div>
        <div class='playWindowButton' id='shuffleRemaining'>Sh+</div>
        <div class='playWindowButton' id='delete'>Rm</div>
        <div class='playWindowButton' id='clear'>Cl</div>
        <div class='playWindowButton' id='editor'>Ed</div>
      </div>
    </div>
    
    <div id="playlist" class="playlist">
    </div>
    
    <div id='playListContextMenu' style="display:none">
      <div id="copyPathToClipboard">copy full path to clipboard</div>
    </div>
  </body> 
</html>
