<html> 
  <head> 
    <title></title>
    
    <script type="text/javascript" src="../lib/air/AIRIntrospector.js"></script>      
    <script type="text/javascript" src="../lib/air/AIRAliases.js"></script> 
    
    <script type="text/javascript" src="../lib/prototype/prototype-1.5.1.2.js"></script>
    
    <script type="text/javascript" src="../lib/twump/base.js"></script>
    <script type="text/javascript" src="../lib/twump/extensions.js"></script>
    <script type="text/javascript" src="../lib/twump/utils.js"></script>
    <script type="text/javascript" src="../lib/twump/api.js"></script>
    
    <script type="text/javascript" src="../storage/binary.js"></script>

    <script>
      Twump.View = {}
    </script>
  

    <script type="text/javascript">
      function init(){
      }
    </script>
  </head> 
  
  <body onload="init();" style="overflow:hidden;">
    <div id="player">
      <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr class="header" id="header">
          <td width="*">&nbsp;</td>
          <td width="10px">
            <div id='close'>
              close
            </div>
          </td>
        </tr>
      </table>
    </div>
  </body> 
</html>
