<html> 
  <head> 
      <title></title>

      <script type="text/javascript" src="../lib/air/AIRIntrospector.js"></script>      
      <script type="text/javascript" src="../lib/air/AIRAliases.js"></script> 
      
      <script type="text/javascript" src="../lib/prototype/prototype-1.5.1.2.js"></script>
      
      <script type="text/javascript" src="../lib/twump/player.js"></script>

      <script type="text/javascript">
			  function init(){
          document.body.onmousedown = function() { window.nativeWindow.startMove(); } 
          $('close').addEventListener("click", function() { close(); });
          
          this.player = new Twump.PlayerFacade();
          
          var file = new air.File(); 
          file.addEventListener(air.Event.SELECT, dirSelected); 
          file.browseForDirectory('select folder')
			  }
			  
			  function dirSelected(event){
          this.list = getFilesRecursive(event.target.nativePath);
          this.currentFile = 0;
          this.playCurrent();
			  }
			  
			  function playCurrent(){
			    this.playFile(this.list[this.currentFile])
			  }
			  
			  function getFilesRecursive(folder){
			    var fileList = []
			    _getFilesRecursive(folder, fileList)
			    
			    return fileList;
			  }
			  
			  function _getFilesRecursive(folder, container) {
  			  var currentFolder = new air.File(folder);
          var files = $A(currentFolder.getDirectoryListing());
          
          files.each(function(file){
            if (file.isDirectory) {
              if (file.name !="." && file.name !="..") {
                //it's a directory
                _getFilesRecursive(file.nativePath, container);
              }
            } 
            else
              container.push(file.url);
          });
        }
        
        function stop(){
          this.player.stop();
        }
        
        function playFile(file){
          this.player.play(file, {
            onPlayProgress: this.onPlayProgress.bind(this)
          });
        }
        
        function onPlayProgress(data){
          air.trace(data.position)
        }
        
        function onPlaybackComplete(){
          this.currentFile++;
          this.playCurrent();
        }
        
      </script>
  </head> 
  
  <body onload="init();"> 
    <div id='close'>
      close
    </div>
    <div id='progress'></div>
  </body> 
</html>
