<html> 
  <head> 
      <title></title>
      
      <link href="css/player_window.css" rel="stylesheet" type="text/css">
      <link type="text/css" rel="StyleSheet" href="../lib/slider/css/bluecurve/bluecurve.css" />
  
      <script type="text/javascript" src="../lib/air/AIRIntrospector.js"></script>      
      <script type="text/javascript" src="../lib/air/AIRAliases.js"></script> 
      
      <script type="text/javascript" src="../lib/prototype/prototype-1.5.1.2.js"></script>
      
      <script type="text/javascript" src="../lib/slider/js/range.js"></script>
      <script type="text/javascript" src="../lib/slider/js/timer.js"></script>
      <script type="text/javascript" src="../lib/slider/js/slider.js"></script>
      
      <script type="text/javascript" src="../lib/twump/base.js"></script>
      <script type="text/javascript" src="../lib/twump/extensions.js"></script>
      <script type="text/javascript" src="../lib/twump/player.js"></script>
      
      <script type="text/javascript" src="../storage/binary.js"></script>

      <script type="text/javascript" src="../model/playlist.js"></script>
      <script type="text/javascript" src="../controller/twump_controller.js"></script>
      <script type="text/javascript" src="../view/player_window.js"></script>

      <script type="text/javascript">
        function init(){
          Twump.Application = Class.create();
          Twump.Application.prototype = {
            initialize: function(){
              this.storage = new Twump.Storage.Binary();
              this.playerWindow = new Twump.View.PlayerWindow();
              this.controller = new Twump.Controller(this.playerWindow, this.storage);
            }
          };
          
          Twump.application = new Twump.Application();
        }
      </script>
  </head> 
  
  <body onload="init();"> 
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
      <tr class="header" id="header">
        <td width="*">&nbsp;</td>
        <td width="10px">
          <div id='close'>
            close
          </div>
        </td>
      </tr>
    </table>
  
    <div id='playing'></div>
    <div id='playlistPos'></div>
    <div id='progress'></div>

    <div>
      <div class='playWindowButton' id='previous'>|<</div>
      <div class='playWindowButton' id='play'>></div>
      <div class='playWindowButton' id='pause'>||</div>
      <div class='playWindowButton' id='stop'>O</div>
      <div class='playWindowButton' id='next'>>|</div>
      <div class='playWindowButton' ></div>
      
      <div id="volume" tabIndex="1" style="float:left;">
      	<input id="volumeInput" style="display:none;"/>
      </div>
    </div>
    <br/>
    <br/>
    
    <div>
      <div class='playWindowButton' id='openFolder'>Ld</div>
      <div class='playWindowButton' id='addFolder'>Ld+</div>
      <div class='playWindowButton' id='shuffle'>Sh</div>
      <div class='playWindowButton' id='shuffleRemaining'>Sh+</div>
      <div class='playWindowButton' id='delete'>Rm</div>
    </div>
  </body> 
</html>
